<section class="admin-products-section">
    <h1 class="admin-title-section"> Panel de categorias: </h1>

    <form>
        <div class="form-inputs-container">
            <label class="form-label-input label-lg">
                <span>Id:</span>
                <input name="userName" type="text" placeholder="Joe" />
            </label>

            <label class="form-label-input label-lg">
                <span>Nombre:</span>
                <input name="userName" type="text" placeholder="Joe" />
            </label>

            <label class="form-label-input label-lg">
                <span>Ordenar:</span>
                <input name="userName" type="text" placeholder="Joe" />
            </label>
        </div>

        <div class="form-buttons-container">
            <button type="reset" class="btn-secondary"> Limpiar </button>
            <button type="submit" class="btn-primary"> Buscar </button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Zapatilla</td>
                </tr>
            </tbody>
        </table>
    </form>

    <div class="admin-products-metrics-container">

        asdasd

    </div>
</section>