<!-- FOOTER -->
<footer class="footer">
    <div class="footer-container">
        <nav class="footer-nav">
            <div class="footer-nav-items">
                <ul class="footer-ul">
                    <li>
                        <a href="" class="footer-list-item"> Aviso de privacidad </a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="" class="footer-list-item"> Terminos y condiciones </a>
                    </li>
                    <li>|</li>
                    <li><a href="" class="footer-list-item"> Nuestros datos </a></li>
                </ul>
            </div>
            <div class="copyright">© 2022 G&X Argentina</div>
            <div class="footer-icons">
                <a href=""><i class="fa-brands fa-facebook icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-google icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-instagram icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-tiktok icon-footer"></i></a>
            </div>
        </nav>
    </div>
</footer>