<!-- HEADER -->
<script> 
    /* VARIABLES GLOBALES */
    window.appConfig = <%- JSON.stringify(locals.appConfig) %> 
</script>

<div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $<%= appConfig?.SUMA_MINIMA_ENVIO_SIN_CARGO?.valor%> </div>

<header class="header">
    <nav class="header-nav">
        <!-- LOGO -->
        <div class="header-logo">
            <a href="/"><img src="/img/H&M-Logo.png" alt="G&X-logo"></a>
        </div>

        <!-- NAV -->

        <div class="header-nav-items fulled-menu">
            <ul class="header-ul">
                <li class="li-item">
                    <a href="/store"> NUEVO 🔥 </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> HOMBRE </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> MUJER </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> NIÑO </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> MARCA </a>
                </li>
                <% if(locals?.userData?.admin){ %>
                    <li class="li-item"> | </li>
                    <li class="li-item">
                        <a href="/admin/panel/products"> ADMIN PANEL </a>
                    </li>
                    <%}%>

                        <% if(locals?.userData?.super){ %>
                            <li class="li-item"> | </li>
                            <li class="li-item">
                                <a href="/super/panel/users"> SUPER PANEL </a>
                            </li>
                            <%}%>
            </ul>
        </div>

        <div class="header-nav-items collapsed-menu">
            <ul class="header-ul">
                <li class="li-item">
                    <a href="/store"> NUEVO 🔥 </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> CATEGORIAS </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> MARCA </a>
                </li>
            </ul>
        </div>

        <div class="header-nav-items ham-menu">
            <ul class="header-ul">
                <li class="li-item">
                    <a href=""> <i class="fa-solid fa-bars "></i> </a>
                </li>
            </ul>
        </div>


        <div class="header-right">
            <!-- SEARCHBAR -->
            <div class="header-searchbar">
                <form class="searchbar">
                    <input id="searchBarInput" type="text" placeholder="Buscar" class="input-searchbar">
                    <div id="searchBarSpinner" class="spinner dark" style="display:none;">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <button type="button" class="search-button"> <i class="fa fa-search"></i> </button>
                </form>
                <div id="searchResultsContainer" class="search-products-container">
                    <h3>Resultados:</h3>
                    <div id="searchProductsNoResultados" style="display:none" ;>
                        No hay resultados
                    </div>


                    <div id="producto1" class="searchProducts_producto-container" style="display:none">
                        <a class="searchProducts_producto-link" href="/">
                            <img id="productoImagen" src="/img/no-img.jpg" class="searchProducts_foto" />
                            <div class="searchProducts_descripcion">
                                <div id="productoData" class="searchProducts_data"> Categoria - Genero - Marca</div>
                                <div id="productoNombre" class="searchProducts_nombre"> Zapatillas Adi2000</div>
                                <div id="productoPrecio" class="searchProducts_precio"> $123456</div>
                            </div>
                        </a>
                    </div>
                    <div id="producto2" class="searchProducts_producto-container" style="display:none">
                        <a class="searchProducts_producto-link" href="/">

                            <img id="productoImagen" src="/img/no-img.jpg" class="searchProducts_foto" />
                            <div class="searchProducts_descripcion">
                                <div id="productoData" class="searchProducts_data"> Categoria - Genero - Marca</div>
                                <div id="productoNombre" class="searchProducts_nombre"> Zapatillas Adi2000</div>
                                <div id="productoPrecio" class="searchProducts_precio"> $123456</div>
                            </div>
                        </a>
                    </div>
                    <div id="producto3" class="searchProducts_producto-container" style="display:none">
                        <a class="searchProducts_producto-link" href="/">
                            <img id="productoImagen" src="/img/no-img.jpg" class="searchProducts_foto" />
                            <div class="searchProducts_descripcion">
                                <div id="productoData" class="searchProducts_data"> Categoria - Genero - Marca</div>
                                <div id="productoNombre" class="searchProducts_nombre"> Zapatillas Adi2000</div>
                                <div id="productoPrecio" class="searchProducts_precio"> $123456</div>
                            </div>
                        </a>
                    </div>

                    <div id="searchProductsVerMas" class="searchProducts_vermas" style="display:none" ;>
                        No hay resultados
                    </div>
                </div>
            </div>

            <!--  HEADER ICONOS -->
            <div class="header-icons">
                <% if(locals?.userData){ %>
                    <a href="/user/account"><i class="fa-regular fa-user icon-header">123</i></a>
                <%} else {%>
                    <a href="/user/login"><i class="fa-regular fa-user icon-header"></i></a>
                <%}%>
                    <a href=""><i class="fa-regular fa-heart icon-header"></i></a>
                    <div style="position:relative;">
                        <a href="/carrito">
                            <i class="fa-solid fa-basket-shopping icon-header"></i>
                            <div id="cartNumber" class="cart-number">21</div>
                        </a>
                    </div>
            </div>
        </div>
    </nav>

    <!-- ALERT -->
    <%- include('./notificationAlert') %>
        <!-- /ALERT -->
</header>

<script src="/js/productSearchBar.js" type="module"></script>
<script src="/js/refreshCartNumber.js"></script>

<% if(locals?.userData?.id){ %>
    <script>
        window.addEventListener("load", () => {
            refreshCartNumber(<%= locals.userData.id %>)
        })
    </script>
<%}%>

