<!-- HEADER -->
<header class="header">
    <nav class="header-nav">
        <!-- LOGO -->
        <div class="header-logo">
            <a href="/"><img src="/img/H&M-Logo.png" alt="G&X-logo"></a>
        </div>

        <!-- NAV -->

        <div class="header-nav-items fulled-menu">
            <ul class="header-ul">
                <li class="li-item">
                    <a href="/coming-soon"> NUEVO 🔥 </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> HOMBRE </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> MUJER </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> NIÑO </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> MARCA </a>
                </li>
                <li class="li-item">
                    <a href="/create"> CREATE </a>
                </li>
            </ul>

            <!-- <% if(locals?.user?.admin){ %> -->
                <ul class="header-ul">
                    <li class="li-item">
                        <a href="/create"> CREATE </a>
                    </li>
                </ul>
                <ul class="header-ul">
                    <li class="li-item">
                        <a href="/create"> CREATE </a>
                    </li>
                </ul>
            <!-- <%}%> -->
        </div>

        <div class="header-nav-items collapsed-menu">
            <ul class="header-ul">
                <li class="li-item">
                    <a href="/coming-soon"> NUEVO 🔥 </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> CATEGORIAS </a>
                </li>
                <li class="li-item">
                    <a href="/coming-soon"> MARCA </a>
                </li>
            </ul>
        </div>

        <div class="header-nav-items ham-menu">
            <ul class="header-ul">
                <li class="li-item">
                    <a href=""> <i class="fa-solid fa-bars "></i> </a>
                </li>
            </ul>
        </div>


        <div class="header-right">
            <!-- SEARCHBAR -->
            <div class="header-searchbar">
                <form action="" method="" class="searchbar">
                    <input type="text" placeholder="Buscar" class="input-searchbar">
                    <button class="search-button"> <i class="fa fa-search"></i> </button>
                </form>
            </div>
            <!--  HEADER ICONOS -->
            <div class="header-icons">
                <% if(locals?.user){ %>
                    <a href="/user/account"><i class="fa-regular fa-user icon-header">123</i></a>
                <%} else {%>
                    <a href="/user/login"><i class="fa-regular fa-user icon-header"></i></a>
                <%}%>
                <a href=""><i class="fa-regular fa-heart icon-header"></i></a>
                <a href="/carrito"><i class="fa-solid fa-basket-shopping icon-header"></i></a>
            </div>
        </div>
    </nav>

    <!-- ALERT -->
    <%- include('./notificationAlert') %>
        <!-- /ALERT -->
</header>