<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b9fc4b5630.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/stylesheet.css">

    <title> G&X </title>
</head>

<body>
    <div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $20.000 </div>

    <!-- MAIN -->
    <main>
        <!--BANNER
        <img src="../public/assets/img/FOTO-BANNER.png" alt="img-home-banner" class="home-banner">
        -->
        <!--SECTIONS-->
        <section class="caja-grande">
            <!--NUEVOS LANZAMIENTOS-->
            <section>
                <div class="caja-chica-titulo">
                    <h2 class="titulares">NUEVOS LANZAMIENTOS</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-productos">
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image"
                                    src="../public/assets/img/adidas-botas-futbol-x-speedportal.1-fg.jpg"
                                    alt="botines-speedoportal">
                                <p class="info-precio">$62.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">X SPEEDPORTAL.1 FG</p>
                                <p class="categoria-producto">Futbol Terreno Firme</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/air-jordan-1.png"
                                    alt="air-jordan-1">
                                <p class="info-precio">$49.000</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">AIR JORDAN 1</p>
                                <p class="categoria-producto">Urbano Zapatilla</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/camiseta-titular-argentina.png"
                                    alt="camiseta-titular-messi">
                                <p class="info-precio">$17.000</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">CAMISETA TITULAR SELECCION ARGENTINA</p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image"
                                    src="../public/assets/img/botas-para-mujer-puma-X-DUA-LIPA.png" alt=""
                                    class="img-producto">
                                <p class="info-precio">$24.000</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">BOTAS PARA MUJER PUMA x DUA LIPA MAYZE</p>
                                <p class="categoria-producto">Calzado Mujer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!--¿PARA QUIEN COMPRAS?-->
            <section>
                <h2 class="titulares">¿PARA QUIÉN COMPRAS?</h2>
                <div class="caja-chica-modelos">
                    <a href="#">
                        <div class="modelos-por-separado mujer">
                            <p class="centrado-texto">MUJER</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="modelos-por-separado hombre">
                            <p class="centrado-texto">HOMBRE</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="modelos-por-separado ninos">
                            <p class="centrado-texto">NIÑOS</p>
                        </div>
                    </a>
                </div>
            </section>
            <!--PRODUCTOS DESTACADOS-->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS DESTACADOS</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-destacados">
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/Boca-titular.png"
                                    alt="producto-1-seccion-3" class="img-producto">
                                <p class="info-precio">$16.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Camiseta titular oficial Boca Juniors</p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/River-titular.png"
                                    alt="producto-2-seccion-3" class="img-producto">
                                <p class="info-precio">$16.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Camiseta titular oficial River Plate</p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/buzo-ninos.png"
                                    alt="producto-3-seccion-3" class="img-producto">
                                <p class="info-precio">$9.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Buzo estampado algodón orgánico</p>
                                <p class="categoria-producto">Niño Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/zapatillas-ozweego.png"
                                    alt="producto-4-seccion-3" class="img-producto">
                                <p class="info-precio">$35.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Zapatillas Ozweego</p>
                                <p class="categoria-producto">Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/zapatillas-ozweego.png"
                                    alt="producto-4-seccion-3" class="img-producto">
                                <p class="info-precio">$35.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Zapatillas Ozweego</p>
                                <p class="categoria-producto">Originals</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#">
                            <div>
                                <img class="product-image" src="../public/assets/img/camiseta-barcelona.png"
                                    alt="producto-5-seccion-3" class="img-producto">
                                <p class="info-precio">$10.999</p>
                            </div>
                            <div class="product-data-container">
                                <p class="descripcion-producto">Camiseta titular oficial FC Barcelona</p>
                                <p class="categoria-producto">Hombre Futbol</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

        </section>

        <!-- FOOT BANNER -->
        <section class="foot-banner">
            <h2> BUSCALO POR MARCA </h2>
            <div class="foot-carrousel">
                <li class="foot-banner-li foot-banner-arrow"> <i class="fa-solid fa-angle-left"></i> </li>
                <ul class="foot-banner-ul">
                    <li class="foot-banner-li">
                        <img src="../public/assets/img/brands/adidas-brand.png" alt="adidas-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="../public/assets/img/brands/crocs-brand.png" alt="crocs-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="../public/assets/img/brands/kappa-brand.png" alt="kappa-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="../public/assets/img/brands/puma-brand.png" alt="puma-logo">
                    </li>
                    <li class="foot-banner-li">
                        <img src="../public/assets/img/brands/reebok-brand.png" alt="reebok-logo">
                    </li>
                </ul>
                <li class="foot-banner-li foot-banner-arrow"> <i class="fa-solid fa-angle-right"></i> </li>
            </div>
        </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <nav class="footer-nav">
            <div class="footer-nav-items">
                <ul class="footer-ul">
                    <li><a href="" class="footer-list-item"> Aviso de privacidad </a></li>
                    <li> | </li>
                    <li><a href="" class="footer-list-item"> Terminos y condiciones </a></li>
                    <li> | </li>
                    <li><a href="" class="footer-list-item"> Nuestros datos </a></li>
                </ul>
            </div>
            <div class="copyright">
                © 2022 G&X Argentina
            </div>
            <div class="footer-icons">
                <a href=""><i class="fa-brands fa-facebook icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-google icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-instagram icon-footer"></i></a>
                <a href=""><i class="fa-brands fa-tiktok icon-footer"></i></a>
            </div>
        </nav>
    </footer>

</body>

</html>