<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b9fc4b5630.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/tp.sitio.e-commerce/public/assets/css/stylesheet.css">
    <title>G&X</title>
</head>



<body class="body">
    <!--HEADER-->
    <header>
    
    </header>
    <!--BANNER-->
    <img src="/tp.sitio.e-commerce/public/assets/img/FOTO-BANNER.png" alt="img-home-banner" class="home-banner">
    <main>
        <!--SECTIONS-->
        <section class="caja-grande">
            <!--NUEVOS LANZAMIENTOS-->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">NUEVOS LANZAMIENTOS</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-productos">
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/adidas-botas-futbol-x-speedportal.1-fg.jpg"
                                alt="botines-speedoportal" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$62.999</div>
                            <div class="descripcion-producto">X SPEEDPORTAL.1 FG</div>
                            <div class="categoria-producto">Futbol Terreno Firme</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/air-jordan-1.png" alt="air-jordan-1"
                                class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$49.000</div>
                            <div class="descripcion-producto">AIR JORDAN 1</div>
                            <div class="categoria-producto">Urbano Zapatilla</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/camiseta-titular-argentina.png"
                                alt="camiseta-titular-messi" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$17.000</div>
                            <div class="descripcion-producto">CAMISETA TITULAR SELECCION ARGENTINA</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/botas-para-mujer-puma-X-DUA-LIPA.png"
                                alt="" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$24.000</div>
                            <div class="descripcion-producto">BOTAS PARA MUJER PUMA x DUA LIPA MAYZE</div>
                            <div class="categoria-producto">Calzado Mujer</div>
                        </div>
                    </div>
                </div>
            </section>
            <!--¿PARA QUIEN COMPRAS?-->
            <section class="caja-chica">
                <h2 class="titulares">¿PARA QUIÉN COMPRAS?</h2>
                <div class="caja-chica-modelos">
                    <div class="modelos-por-separado mujer">
                        <a class="centrado-texto">MUJER</a>
                    </div>
                    <div class="modelos-por-separado hombre">
                        <a class="centrado-texto">HOMBRE</a>
                    </div>
                    <div class="modelos-por-separado ninos">
                        <a class="centrado-texto">NIÑOS</a>
                    </div>
                </div>
            </section>
            <!--PRODUCTOS DESTACADOS-->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS DESTACADOS</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-productos">
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/Boca-titular.png"
                                alt="producto-1-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$16.999</div>
                            <div class="descripcion-producto">Camiseta titular oficial Boca Juniors</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/River-titular.png"
                                alt="producto-2-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$16.999</div>
                            <div class="descripcion-producto">Camiseta titular oficial River Plate</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/buzo-ninos.png" alt="producto-3-seccion-3"
                                class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$9.999</div>
                            <div class="descripcion-producto">Buzo estampado algodón orgánico</div>
                            <div class="categoria-producto">Niño Originals</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/zapatillas-ozweego.png"
                                alt="producto-4-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$35.999</div>
                            <div class="descripcion-producto">Zapatillas Ozweego</div>
                            <div class="categoria-producto">Originals</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/camiseta-barcelona.png"
                                alt="producto-5-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$10.999</div>
                            <div class="descripcion-producto">Camiseta titular oficial FC Barcelona</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>

</html>