/* CARRITO */

.caja-grande2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.subcaja-1-titulo {
    margin: 20px 20%;
}

.resumen-section {
    width: 100%;
    margin: 24px 15px 0 15px;
    max-width: none;
}

.resumen-container {
    border: #000 solid 1px;
    background-color: #ebebeb;
    text-align: center;
    width: 100%;
    margin: 25px 0;
}

.resumen-container .resumen-item:not(:last-child) p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.resumen-titulo {
    font-size: 20px;
    margin: 14px 0;
}

.resumen-titulo h3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumen-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resumen-item p {
    margin: 15px 30px;
}

.resumen-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    font-weight: bold;
}

#resumenTotal{
font-size: 1.3rem;
}

.container-cupon-pago {
    width: auto;
}

.cupon-container {
    width: 60%;
    min-width: 243px;
    margin: 20px auto;
}

.cupon-input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.opciones-pago-container {
    width: 100%;
}

.titulo-opciones-pago {
    width: 80%;
}

.imagenes-opciones-pago {
    text-align: center;
    width: 100%;
}

.opciones-pago img {
    width: 100px;
}

.product-detail {
    border: solid #000 1px;
    margin: 10px;
    display: flex;
}

.product-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.boton2 {
    background-color: #000;
    color: #FFF;

}

.fa-arrow-right-long {
    color: #FFF;
    width: 100px;
    height: 30px;
}


.cards-container {
    width: 100%;
    max-width: 700px;
    margin: 0 15px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}


.opciones-pago-img {
    width: 100%;
    max-width: 300px;
}

.img-producto-carrito {
    display: flex;
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.cantidad-container {
    display: flex;
    align-items: flex-end;
}

.cantidades {
    width: 70px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.boton1 {
    height: 50%;
    width: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    margin: auto auto;
    font-size: 1rem;
    cursor: pointer;
}

.detail-container {
    width: 100%;
}

.product-detail-container {
    border: solid #000 1px;
    display: flex;
    margin-bottom: 15px;
    height: 320px;
    max-height: 200px;
    flex-direction: row;
    overflow: hidden;
}

.opciones-pago img {
    width: 70%;
}


.btn-pay.hidden-btn {
    display: none;
}

























@keyframes showProductos {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.carrito-body .footer {
    flex-grow: 0;
}

.carrito-body main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.carrito-status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.cart-number {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #cd0118;
    border-radius: 50%;
    font-size: 0.7rem;
    line-height: 0.9rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    color: white;
    font-weight: 600;
    display: none;
}

#loadingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* caso estado: LOADING */
.loadingCartStatus #cardsContainerStatus,
.loadingCartStatus #loadingCart,
.loadingCartStatus .carrito-status-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.loadingCartStatus #cardsContainerResults,
.loadingCartStatus #noProductsChartMessage,
.loadingCartStatus #resumenContainerResults {
    display: none;
}

/* caso estado: NO PRODUCTS */
.noProductsCartStatus #cardsContainerStatus,
.noProductsCartStatus .carrito-status-container,
.noProductsCartStatus #noProductsChartMessage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    animation-name: showProductos;
    animation-duration: 1.3s;
}

.noProductsCartStatus #cardsContainerResults,
.noProductsCartStatus #loadingCart,
.noProductsCartStatus #resumenContainerResults {
    display: none;
}

/* caso estado: MOSTRAR RESULTADOS */

.showResultsStatus #cardsContainerResults,
.showResultsStatus #resumenContainerResults {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    animation-name: showProductos;
    animation-duration: 1.3s;
}

.showResultsStatus #cardsContainerStatus,
.showResultsStatus #loadingCart,
.showResultsStatus .carrito-status-container {
    display: none;
}

.product-item-total-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.3rem;
    font-weight: bold;
}

.resumen-precios p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1rem;
}

.product-item-total-container i {
    line-height: normal;
}

#resumenIva {
    font-weight: 400;
}

@media(min-width:720px) {
    .btn-pay.hidden-btn {
        display: flex;
    }

    .cards-container {
        width: 60%;
        max-width: 700px;
        margin: 0 15px;
    }

    .img-producto-carrito {
        display: flex;
        width: auto;
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    .caja-grande2 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .resumen-section {
        width: 40%;
        margin: 24px 15px 0 15px;
        max-width: 500px;
    }

}


@media (min-width:870px) {
    .product-detail-container {
        height: 100%;
        max-height: 200px;
        flex-direction: row;
    }
}