/* FORM REGISTER */

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.form-fieldset {
  text-align: center;
  padding: 20px 10%;
}

.form-title {
  margin: 40px 40px 25px 40px;
  font-size: 30px;
}

.field {
  width: 70%;
  margin: 25px;
  padding: 5px 0px 5px 20px;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 2px #000;
  outline: none;
  font-size: 20px;
}

.add-image-button{
  background-color: #000;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.add-image-button label{
  font-size: 18px;
  color: #fff;
}

.add-image-button :hover{
  background-color: #c70039;
  cursor: pointer;
  border-radius: 10px; 
  color: #000;
  
}

.formulario__grupo-correcto .formulario__validacion-estado{
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .label{
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .input-text{
  color: #bb2929;
  opacity: 1;
}

.input-text-error{
  font-size: 12px;
  margin-bottom: 0px;
  display: none;
}

.input-text-error-activo{
  display: block;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}