/* FORM REGISTER CSS  */

.form-h1 {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 60px auto;
}

.form h1 {
  margin-bottom: 10px;
}

.form-box {
  width: 80%;
  max-width: 600px;
  border: 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-log-form {
  background-color: #d9d9d9;
}

.container {
  width: 70%;
  max-width: 400px;
  margin: 40px 0;
  text-align: center;
}

.fields .field-item {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
  margin: 10px 0px 15px 0px;
}

.field-item .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

.input-text {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  padding-top: 33px;
}

.text-span {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all .3s ease;
}

.field-item .label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #c70039;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.field-item input:focus + .label .text-span ,
.field-item input:valid + .label .text-span {
    transform: translateY(-150%);
    font-size: 14px;
    color: #c70039;
}

.field-item input:focus + .label::after,
.field-item input:valid + .label::after {
    transform: translateX(0%);
}

.config-field {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.config-field label {
  margin: 0 20px 0 0;
}
.login-button-div {
  margin: 20px 0;
}

.iniciar-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  margin: 20px 0;
}

.iniciar-con-item {
  margin: 0px 20px 0px 20px;
}

.redir-cc {
  margin-top: 30px;
}

.redir-crear-cuenta {
  font-weight: bold;
}

.login-error-container{
  margin-bottom: 8px;
}