.products-title {
    width: auto;
    font-size: 2.4em;
    font-weight: 400;
    color: gray;
    padding-left: 25px;
    margin-top: 5px;
}

.box-container {
    max-width: 100%;
}

.pe-container {
    border: 2px solid #000;
    border-radius: 8px;
    margin: 20px;
    padding:15px
}

.product-container {
    flex: 0 0 50%;
    max-width: 70%;
}

.form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0px;
}

.form-input {
    display: block;
    width: 90%;
    height: 45px;
    font-size: 1.5em;
    border-radius: 8px;
    border: solid 1px gray;
    padding: 0 15px;
    margin: 0px 10px;
}

.load-main-image-container,
.load-sub-image-container {

    height: 45px;
    width: 400px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px 10px;
}

.load-main-image-container:hover,
.load-sub-image-container:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.form-label-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    cursor: pointer;
    background-image: url("../img/image-not-found-scaled.png");
    background-size: cover;
}

.img-container {
    margin: 20px;
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sub-img-container {
    width: 40%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.load-main-image-container {
    width: 50%;
    height: 400px;
}

.load-sub-image-container {
    width: 45%;
    height: 45%;
    margin: 10px;
}

.form-input-img {
    display: none;
}

.save-product {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}


/* RESPONSIVE */

@media (max-width: 860px) {
    .product-container {
        max-width: 100%;
    }

    .products-title {
        text-align: center;
    }
    
    
}