.products-wrapper{
    margin: 30px 0px;
}

.title-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.editing-title{
    flex: 0 0 100%;
    max-width: 100%;
}

.products-title{
    font-size: 2.4em;
    font-weight: 400;
    color: gray;
}

.box-container{
    flex: 0 0 100%;
    max-width: 100%;
}

.product-detail{
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.product-container{
    flex: 0 0 50%;
    max-width: 50%;
}

.form-label{
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0px;
}

.form-input{
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: solid 1px gray;
    padding: 0 15px;
}

.description-container{
    flex: 0 0 100%;
    max-width: 100%;
}

.load-image-container{
    flex: 0 0 100%;
    max-width: 100%;
}

.save-product{
    flex: 0 0 100%;
    max-width: 100%;
}

.save-button{
    background-color: lightblue;
    font-size: 1.6em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}