.products-title {
    width: auto;
    font-size: 2.4em;
    font-weight: 400;
    color: gray;
    padding-left: 25px;
    margin-top: 5px;
}

.box-container {
    max-width: 100%;
}

.pe-container {
    border: 2px solid #000;
    border-radius: 8px;
    margin: 20px;
    padding: 0px 0px 15px 15px
}

.product-container {
    flex: 0 0 50%;
    max-width: 70%;
}

.form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0px;
}

.form-input {
    display: block;
    width: 90%;
    height: 45px;
    font-size: 1.5em;
    border-radius: 8px;
    border: solid 1px gray;
    padding: 0 15px;
    margin: 0px 10px;
}

.load-image-container {
    background-color: #c70039;
    height: 45px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    /* padding: 12px 24px; */
    margin: 15px 10px;
}

.load-image-container:hover{
    cursor: pointer;
    background-color: #96002a;
}

.form-label-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    cursor: pointer;
}

.form-input-img {
    display: none;
}

.save-product {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}


/* RESPONSIVE */

@media (max-width: 860px) {
    .product-container {
        max-width: 100%;
    }

    .products-title {
        text-align: center;
    }
    
    
}