.store-container {
    width: 100%;
    display: flex;
}

.store-filters-container {
    width: 20%;
    max-width: 300px;
    min-width: 230px;
    margin-top: 40px;
}

.store-results-container {
    width: 100%;
    flex-grow: 1;
}
.store-results-container section {
    width: 70%;
    max-width: 1500px;
}

.filter-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 10px 5px;
}

.store-filters-floating-container {
    position: sticky;
    top: 0;
}

input[type="checkbox"] {
    accent-color: #c42121;
    border: 2px;
}

input[type="radio"] {
    accent-color: #c42121;
}

.btn-sort-table {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    position: relative;
    padding-right:4px;
    cursor:pointer;
}

.btn-sort-table i {
    color: rgba(71, 71, 71, 0.575);
}

.btn-sort-table i.active {
    color: rgb(0, 0, 0);
}

.btn-sort-table i::before {
    height: 16px !important;
    line-height: 16px !important;
    vertical-align: middle !important;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}
.btn-container {
    display:flex; 
    justify-content: space-between; 
    padding: 0 8px;
}
