@import url(./product-detail.css);
@import url(./form-login.css);
@import url(./form-reg.css);
@import url(./carrito.css);
@import url(./coming-soon.css);
@import url(./product-form.css);

* {
  font-family: "Hind Vadodara", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #000;
}

/* GENERAL */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

a:hover,
a i:hover {
  color: #c70039;
}

.titulares {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 10px 4%;
}

.titular-secundario {
  display: flex;
  justify-content: flex-end;
}

.btn-secondary {
  height: 50px;
  width: auto;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 24px;
}

.btn-secondary i {
  color: #fff;
  font-size: 18px;
  padding-left: 15px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-secondary:hover {
  color: #000;
  background-color: #c70039;
  transition: 0.3s;
}

.btn-secondary:hover i {
  transition: 0.3s;
  color: #000;
}

/* INFO PROMO */

.info-promo {
  background-color: #666;
  text-align: center;
}

.caja-chica-titulo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* HEADER */

.header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgb(165, 165, 165);
}

.header-nav {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-areas: "nav header-logo right";
  justify-items: center;
  height: 100px;
}

/* LOGO */

.header-logo {
  grid-area: header-logo;
  height: 100%;
  max-width: 205px;
  margin: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  grid-area: right;
  display: flex;
  width: min-content;
}

/* NAV */

.header-nav-items {
  max-width: 700px;
  display: flex;
  margin: 20px 0 20px 0px;
}

.header-ul {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  width: 100%;
}

.li-item {
  font-weight: bold;
  margin: 0 10px;
}

.fulled-menu,
.collapsed-menu {
  display: none;
}

.ham-menu {
  display: flex;
}

/* SEARCHBAR */

.header-searchbar {
  display: none;
  align-items: flex-end;
  margin: 20px;
}

.searchbar {
  width: 15vw;
  max-width: 300px;
  min-width: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #ebebeb;
  border-radius: 50px;
}

.input-searchbar {
  width: 90%;
  height: 30px;
  background-color: #ebebeb;
  border: 0;
  border-radius: 50px;
  padding-left: 15px;
  outline: none;
}

.search-button {
  width: 30px;
  height: 30px;
  background-color: #ebebeb;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

/* ICONS */

.header-icons {
  min-width: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 20px 0;
}

.icon-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  width: 30px;
}

@media (min-width: 860px) {
  .header-searchbar {
    display: flex;
  }

  .header-nav {
    grid-template-areas: "header-logo nav right";
    grid-template-columns: 1fr 4fr 1fr;
  }

  .fulled-menu,
  .ham-menu {
    display: none;
  }

  .collapsed-menu {
    display: flex;
  }
}

@media (min-width: 1050px) {
  .fulled-menu {
    display: flex;
  }

  .ham-menu,
  .collapsed-menu {
    display: none;
  }
}

/* FOOTER */

.footer {
  flex-grow: 10;
  display: flex;
  align-items: flex-end;
}

.footer-container {
  background-color: #333;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 30px 30px 8px 30px;
}

.footer-nav-items {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  width: 60%;
}

.footer-list-item {
  color: #fff;
  font-size: 20px;
}

.copyright {
  color: #fff;
  font-size: 15px;
  margin: 10px 0px;
}

.footer-icons {
  font-size: 50px;
  margin: 20px;
}

.icon-footer {
  margin: 0px 25px 0px 25px;
}

.footer-ul li {
  color: #fff;
  font-size: 20px;
  cursor: default;
}

@media (max-width: 960px) {
  .footer-ul {
    width: 100%;
  }

}

@media (max-width: 640px) {
  .footer-ul {
    display: block;
  }

  .footer-ul li {
    margin: 5px;
  }

  .li-separador {
    display: none;
  }
}

/* NUEVOS LANZAMIENTOS */

.caja-grande {
  margin: 20px 20px;
}

.caja-chica-producto {
  display: inline-block;
  padding: 10px;
}

.caja-chica-productos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: 20px;
  justify-items: center;
}


.productos-por-separado {
  width: 300px;
  height: 300px;
}

.img-producto {
  width: 100%;
}

.product-card {
  max-width: 300px;
  transition: all 500ms ease-out;
}

.product-card:hover {
  transform: scale(1.05);
  transition: all 300ms ease-out;
  border: 1px solid black;
}

.product-card:hover .info-precio {
  transform: translateY(-10px);
  transition: transform 200ms ease-out;
}

.product-data-container {
  padding: 10px;
}

@media (min-width: 480px) {
  .caja-grande {
    margin: 25px 50px;
  }

  .caja-chica-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 820px) {
  .caja-chica-productos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.spacing {
  display: flex;
  justify-content: space-evenly;
}

.home-banner {
  width: 100%;
}

/* PARA QUIEN COMPRAS */
.modelos {
  /* se usa? */
  width: 400px;
  height: 380px;
}

.caja-chica-modelos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.modelos-por-separado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 200px;
  aspect-ratio: 280/200;
  box-shadow: 3px 5px 5px rgba(32, 32, 32, .8);
}

.modelos-por-separado:hover p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.caja-chica-modelos a:not(:last-child) {
  margin: 0 0 10px 0;
}

.centrado-texto {
  display: none;
}

.descripcion-producto {
  font-weight: bold;
}

.mujer {
  background-image: url("../img/MUJER.png");
  background-size: cover;
}

.hombre {
  background-image: url("../img/HOMBRE.png");
  background-size: cover;
}

.ninos {
  background-image: url("../img/ninos.png");
  background-size: cover;
}

@media (min-width: 620px) {
  .caja-chica-modelos {
    flex-direction: row;
  }

  .modelos-por-separado {
    width: 25vw;
    aspect-ratio: 350/300;
    min-width: 200px;
  }

  .caja-chica-modelos a:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

/* PRODUCTOS */

.caja-chica-destacados {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: 20px;
  justify-items: center;
}

.product-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.info-precio {
  background-color: white;
  width: max-content;
  position: relative;
  bottom: 30px;
  transition: transform 600ms ease-out;
  padding: 0 4px;
}

.descripcion-producto {
  position: relative;
  bottom: 30px;
}

.categoria-producto {
  position: relative;
  bottom: 35px;
}

@media (min-width: 480px) {
  .caja-chica-destacados {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .caja-chica-destacados {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 20px;
    justify-items: center;
  }
}

/* FOOT BANNER */

.foot-banner {
  width: 100%;
  height: 200px;
  background-color: #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foot-banner h2 {
  text-align: center;
}

.foot-banner-titulo {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.foot-carrousel {
  display: flex;
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
}

.foot-banner-ul {
  height: 68px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.foot-banner-li {
  list-style: none;
  cursor: pointer;
}

.foot-banner-li:hover {
  opacity: 0.6;
}

.foot-banner-arrow {
  font-size: 30px;
}

/* NOTIFICATION ALERT */
.alert {
  position: fixed;
  width: 380px;
  height: 90px;
  padding: 10px 15px;
  z-index: 9;
  background-color: red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.alert-msg {
  flex-grow: 1;
  text-align: center;
}

.alert-msg span {
  font-size: 0.9rem;
}

.alert.bottom {
  bottom: 20px;
  left: 100%;
  transition: all 500ms ease-out;
  opacity: 0.92;
  transform: translateX(-420px);
}

/* SUCCESS */
.alert.success {
  background-color: #def2d5;
  border: 1px solid #5c6f51ae;
}

.alert.success i {
  margin: 10px;
}

.alert.success i,
.alert.success p,
.alert.success p b,
.alert.success p span {
  color: #5c6f51;
}

.alert.success .fa-xmark {
  color: #5c6f518f;
  cursor: pointer;
}

.alert.success .fa-xmark:hover {
  color: #5c6f51;
}

/* DANGER */
.alert.danger {
  background-color: #ebc8c4;
  border: 1px solid #b22e2ea6;
}

.alert.danger i {
  margin: 10px;
}

.alert.danger i,
.alert.danger p,
.alert.danger p b,
.alert.danger p span {
  color: #b22e2f;
}

.alert.danger .fa-xmark {
  color: #b22e2e79;
  cursor: pointer;
}

.alert.danger .fa-xmark:hover {
  color: #4280b0;
}

/* INFO */
.alert.info {
  background-color: #cce8f4;
  border: 1px solid #4280b09d;
}

.alert.info i {
  margin: 10px;
}

.alert.info i,
.alert.info p,
.alert.info p b,
.alert.info p span {
  color: #4280b0;
}

.alert.info .fa-xmark {
  color: #4280b085;
  cursor: pointer;
}

.alert.info .fa-xmark:hover {
  color: #4280b0;
}