table {
    width: 100%;
    max-width: 1100px;
    margin: 30px 0;
    margin-top: 50px;
    border-spacing: 0;
}

tr th {
    padding: 4px;
}

thead tr {
    background-color: #f58d8d;
}

tbody tr td {
    text-align: center;
}

tbody tr {
    height: 40px;
}


tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}


.hiddenModal {
    display: none;
}

.user-form-pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-container {
    display: flex;
}

.pagination-container span {
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

.pagination-container .left-button {
    position: relative;
    cursor: pointer;
}

.pagination-container i {
    pointer-events:inherit;
}

.pagination-container .left-button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5px, 1px);
}

.pagination-container .left-right-container {
    border: none;
    background-color: transparent;
}

.form-pagination-number {
    width: 35px;
    height: 35px;
    border: none;
    margin: 0 4px;
    border-radius: 5px;
    background-color: transparent;
}

.form-pagination-number.selected {
    background-color: #f0f0f0;
}

.form-pagination-number:not(.selected):hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

.pagination-container .disabled::before {
    color: #a7a6a7;
}

.pagination-container .disabled:hover {
    background-color: transparent;
    cursor: default;
}

/* MODAL */
.user-modal {
    width: 600px;
    height: auto;
    z-index: 999;
    background-color: #fff;
    margin-bottom: 10%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.edit-user-modal-container {
    padding: 20px 30px;
    padding-bottom: 0;
}

.edit-user-form-separador {
    border: 1px solid #ff3939a1;
}

.user-modal h1 {
    margin-bottom: 20px;
}


.user-modal .form-inputs-container {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.user-modal .form-inputs-container.col {
    flex-direction: column;
}

.user-modal .form-inputs-container .form-label-input {
    text-align: left;
    margin-bottom: 10px;
}

.user-modal .form-label-input.row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: none;
}

.user-modal .form-label-input.row span {
    margin-right: 10px;
}


.user-modal-background {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #19192085;
    justify-content: center;
    align-items: center;
    transition: 500ms opacity ease-in-out;
    pointer-events: none;
}

.user-modal-background.initial-position {
    transform: translateY(-100%);
}

.show-modal {
    display: flex;
    opacity: 1;
    transition: 300ms opacity ease-in-out;
    pointer-events: all;
}

.edit-user-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.edit-user-form .buttons-container {
    width: 100%;
    background-color: #e7e1e1d7;
    padding: 15px 10px;
    display: flex;
    justify-content: flex-end;
}

.edit-user-form .inputs-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.edit-user-form .inputs-container * {
    margin-top: 4px;
}



/* FORM */
.section-user-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-inputs-container {
    display: flex;
    margin-top: 20px;
    flex-grow: 1;
}

.form-inputs-container:not(:last-child) {
    margin-right: 20px;
}

.form-label-input {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    width: 100%;
    max-width: 260px;
}


.form-label-input span {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.849);
}

.form-label-input input,
.form-label-input select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgba(190, 190, 190, 0.788);
    background-color: rgba(247, 247, 247, 0.788);
}

.form-label-input select {
    padding: 7px 12px;
}

.form-label-input input:focus,
.form-label-input select:focus {
    outline: none;
    border: 1px solid rgba(141, 141, 141, 0.918);
}

.form-inputs-container label {
    margin-bottom: 20px;
}

.form-inputs-container label:not(:last-child) {
    margin-right: 10px;
}

.form-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-buttons-container button:not(:last-child) {
    margin-right: 10px;
}

.btnShow {
    cursor: pointer;
    opacity: 0.85;
}