<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Cart </title>
</head>
<!-- /head -->

<body>
    <div class="info-promo">
        <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A
        $20.000
    </div>

    <!-- Header -->
    <%- include('partials/headerNav', locals) %>
    <!-- /Header -->

    <main>
        <!--SECTIONS-->
        <section class="caja-grande caja-grande2">
            <!--TU CARRITO-->
            <div class="cards-container">
                <section>
                    <div class="subcaja-1-titulo">
                        <h2>TU CARRITO</h2>
                        <p class="total">"PRECIO"</p>
                    </div>
                </section>

                <!-- CARD -->
                <section class="product-detail-container">

                    <img src="/img/products/camiseta-titular-argentina.png" alt="img-producto-1" class="img-producto-carrito">

                    <div class="detail-container">
                        <div class="product-details">
                            <div class="product-info">

                                <h4>CAMISETA TITULAR SELECCION ARGENTINA</h4>

                                <p>TAMAÑO:M </p>

                                <select name="" id="" class="cantidades">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                            <div class="cantidad-container">
                                $17.000
                            </div>
                        </div>
                    </div>
                </section>
                <!-- CARD -->
                <section class="product-detail-container">

                    <img src="/img/products/adidas-botas-futbol-x-speedportal.1-fg.jpg" alt="img-producto-1"
                        class="img-producto-carrito">

                    <div class="detail-container">
                        <div class="product-details">
                            <div class="product-info">

                                <h4>X SPEED PORTAL</h4>

                                <p>TAMAÑO:44 (UK 11) </p>

                                <select name="" id="" class="cantidades">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                            <div class="cantidad-container">
                                $62.999
                            </div>
                        </div>
                    </div>
                </section>

                <!-- CARD -->
                <section class="product-detail-container">

                    <img src="/img/products/River-titular.png" alt="img-producto-1" class="img-producto-carrito">

                    <div class="detail-container">
                        <div class="product-details">
                            <div class="product-info">

                                <h4>CAMISETA TITULAR RIVER PLATE</h4>

                                <p>TAMAÑO:M </p>

                                <select name="" id="" class="cantidades">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                            <div class="cantidad-container">
                                $16.999
                            </div>
                        </div>
                    </div>
                </section>

                <button class="btn-secondary hidden-btn">
                    IR A PAGAR <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>

            <div class="resumen-section">
                <button class="btn-secondary">
                    IR A PAGAR <i class="fa-solid fa-arrow-right"></i>
                </button>

                <section class="resumen-container">
                    <div class="resumen-titulo">
                        <h3>RESUMEN DEL PEDIDO</h3>
                    </div>

                    <div class="resumen-item">
                        <p> "PRODUCTO" </p>
                        <p> $17000 </p>
                    </div>
                    <div class="resumen-item">
                        <p> "ENTREGA" </p>
                        <p> $1000 </p>
                    </div>
                    <div class="resumen-item">
                        <span class="resumen-total">
                            <p> TOTAL </p>
                            <p> $18000 </p>
                        </span>
                    </div>
                </section>

                <div class="container-cupon-pago">
                    <section class="cupon-container">
                        <label for="cupon-promocional"></label>
                        <input type="text" name="cupon-promocional" id="cupon-promocional" class="cupon-input"
                            placeholder="INTRODUCE TU CODIGO PROMOCIONAL">
                    </section>

                    <section class="opciones-pago-container">
                        <div class="titulo-opciones-pago">
                            <h4> OPCIONES DE PAGO </h4>
                        </div>
                        <div class="imagenes-opciones-pago">
                            <img src="/img/medio-de-pago.jpg" alt="opciones-pago" class="opciones-pago-img">
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="caja-grande">
            <!--PRODUCTOS DESTACADOS-->
            <section class="caja-chica">
                <div class="caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS DESTACADOS</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="caja-chica-destacados">                
                </div>
            </section>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>