<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('partials/head', {title: 'Coming-soon'}) %>
<!-- /head -->

<body>
    <div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $20.000 </div>
	<!-- Header -->
	<%- include('partials/headerNav') %>
	<!-- /Header -->

    <main>
        <div class="coming-soon">
            <img src="/assets/img/coming-soon.png" alt="">
        </div>
    </main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>