<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title> G&X - Coming-Soon </title>
</head>
<!-- /head -->

<body>
    <!-- Header -->
    <%- include('partials/headerNav', locals) %>
    <!-- /Header -->

    <main>
        <div class="coming-soon">
            <img src="/img/coming-soon.png" alt="">
        </div>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>