<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/stylesheet.css">

  <title> G&X - Register </title>
</head>
<!-- /head -->

<body>
  <div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $20.000 </div>

  <!-- Header -->
  <%- include('partials/headerNav') %>
  <!-- /Header -->

  <!-- MAIN -->
  <main>

    <section class="form ">
      <form class="form-box">
        <fieldset class="form-fieldset">
          <h1>REGISTRATE</h1>

          <label for="nombre" class="label"> </label>
          <input name="nombre" class="input-text" type="text" tabindex="1" placeholder="Nombre completo" required />

          <label for="email" class="label"></label>
          <input name="email" class="input-text" type="email" tabindex="2" placeholder="Email" required />

          <label for="nombre" class="label"> </label>
          <input name="nombre" class="input-text" type="password" tabindex="1" placeholder="Contraseña" required />

          <label for="nombre" class="label"> </label>
          <input name="confirmar-contraseña" class="input-text" type="password" tabindex="1"
            placeholder="Confirmar contraseña" required />

          <div class="iniciar-con">
            <a href="" class="iniciar-con-item"> Inciar con Google </a>
            <a href="" class="iniciar-con-item"> Iniciar con Facebook </a>
          </div>


          <button type="submit" class="btn-secondary btn-block">Registrarse</button>


          <div class="redir-cc">
            <p>
              Ya tenes cuenta?
              <a href="/user/login" class="redir-crear-cuenta"> INICIA SESION </a>
            </p>
          </div>
        </fieldset>
      </form>
      </div>
    </section>
  </main>

  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>

</html>