<!DOCTYPE html>
<html lang="es">

<!-- head -->

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/stylesheet.css">

  <title> G&X - Login </title>
</head>
<!-- /head -->

<body>
  <div class="info-promo">
    <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A
    $20.000
  </div>
	<!-- Header -->
	<%- include('partials/headerNav') %>
	<!-- /Header -->

  <!-- MAIN -->
  <main>
    <!-- FORM -->
    <section class="form">
      <h1>INICIA SESION EN TU CUENTA</h1>
      <form class="form-box background-log-form" action="login"  method="POST">
        <div class="container">
          <!-- USUARIO -->
          <div class="fields">
            <label for="email" class="label"></label>
            <input type="text" name="email" class="input-text" tabindex="1"
              placeholder="Introduce tu correo" required />

            <label for="password" class="label"></label>
            <input type="password" name="password" class="input-text" tabindex="1" placeholder="Introduce tu contrseña"
              required />
          </div>
          <div class="config-field">
            <label>
              <input type="checkbox" class="checkbox-box" />
              Mantener sesion iniciada
            </label>
            <a href=""> Se te olvido la contraseña? </a>
          </div>
          <div class="login-button-div">
            <button class="btn-secondary btn-block">INICIAR SESION</button>
          </div>

          <div class="iniciar-con">
            <a href="" class="iniciar-con-item"> Inciar con Google </a>
            <a href="" class="iniciar-con-item"> Iniciar con Facebook </a>
          </div>
          <div class="redir-cc">
            <a href="/user/register" class="redir-crear-cuenta">
              Crear nueva cuenta
            </a>
          </div>
        </div>
      </form>
    </section>
  </main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>