
/* CARRITO */

.caja-grande2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto auto;
}

.subcaja-1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.subcaja-1-titulo {
    margin: 20px 20%;
}

.subcaja-5-boton {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
}

.shop-card-1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.shop-card-2 {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
}

.shop-card-3 {
    display: grid;
    grid-column: 1/2;
    grid-row: 4/5;
}

.subcaja-6-boton {
    display: grid;
    grid-column: 1/2;
    grid-row: 5/6;
    width: 80%;
    height: 140px;
}

.boton1 {
    height: 50%;
    width: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    margin: auto auto;
}

.boton1 .fa-arrow-right-long::before {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.resumen-container {
    border: #000 solid 1px;
    background-color: #ebebeb;
    text-align: center;
    display: grid;
    grid-column: 2/3;
    grid-row: 2/4;  
    width: 60%;
    height: 90%;
    margin: auto auto;
}

.resumen-titulo {
    font-size: 20px;
}

.resumen-titulo h3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumen-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resumen-item p {
    margin: 15px 30px;
}

.resumen-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    font-weight: bold;
}

.cupon-container {
    width: 60%;
    margin: 20px auto;
}

.cupon-input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.opciones-pago-container {
    display: grid;
    grid-column: 2/3;
    grid-row: 5/6;  
    width: 60%;
    height: 60%;
    margin: auto auto;
}

.titulo-opciones-pago {
    width: 80%;
    height: 20%;
    margin: 10px 0px 0px 10px;
}

.imagenes-opciones-pago {
    text-align: center;
    height: 100%;
}

.product-detail {
    border: solid #000 1px;
    margin: 10px;
    display: flex;
}

.line-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.boton2 {
    background-color: #000;
    color: #FFF;

}

.fa-arrow-right-long {
    color: #FFF;
    width: 100px;
    height: 30px;
}

.subcaja-6 {
    border: #000 solid 1px;
    width: 10%;
    display: flexbox;

}

.product-detail-container{
    height: 250px;
    width: 800px;
    border: solid #000 1px;
    display: flex;
    margin: 15px;
}

.detail-container{
    width: 70%;
}

.product-details{
    height: 50%;
    padding: 20px;
}

.img-producto-carrito {
    display: flex;
    height: 100%;
    width: 30%;
}

.cantidad-container{
    height: 50%;
    padding: 20px;
}

.cantidades{
    width: 70px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    padding:5px;
}

.talle-producto-carrito {
    
}

.descripcion-producto-carrito {
    
}


