*{
    font-family: 'Hind Vadodara', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;    
}

body{
    background-color: #FFF;
}


.img-producto{
    width: 255px;
    height: 255px;
    
}

.caja-grande{
    margin: 25px 50px;
}

.caja-chica-productos{
    display: flex;
    justify-content: space-around;
}

.caja-chica-producto{
    display: inline-block;
    padding: 10px;
}

.spacing{
    display: flex;
    justify-content: space-evenly;
}



.titulares{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.titular-secundario{
    display: flex;
    justify-content: flex-end;
}

.home-banner{
    width: 100%;
    height: 700px;
}

.modelos{
    width: 400px;
    height: 380px;
}

.caja-chica-modelos{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.modelos-por-separado{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mujer{
    background-image: url("/tp.sitio.e-commerce/public/assets/img/MUJER.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.centrado-texto{
    justify-content: center;
    align-items: center;
    display: flexbox;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

.hombre{
    background-image: url("/tp.sitio.e-commerce/public/assets/img/HOMBRE.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.descripcion-producto{
    font-weight: bold;
}

.ninos{
    background-image: url("/tp.sitio.e-commerce/public/assets/img/ninos.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.info-precio{
    background-color: white;
    width: 60px;
    position: relative;
    bottom: 30px;
    
}

.descripcion-producto{
    position: relative;
    bottom: 30px;
}

.categoria-producto{
    position: relative;
    bottom: 35px;
}

a{
    text-decoration: none;
}

a:hover, i:hover {
    color: red;
}

/* HEADER */

.header {
    height: 100px;
    width: 100%;
}

.header-nav {
    display: flex;
    height: 100px;
    width: 100%;
}

/* LOGO */

.header-logo {
    height: 100%;
    width: 205px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV */

.header-nav-items {
    width: 700px;
    display: flex;
    margin: 20px 200px 20px 300px;
}

.header-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    width: 100%;
}

.li-item {
    font-weight: bold;
}

/* SEARCHBAR */

.header-searchbar {
    width: 350px;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

.searchbar {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #ebebeb;
    border-radius: 50px;
}

.input-searchbar {
    width: 250px;
    height: 30px;
    background-color: #ebebeb;
    border: 0;
    border-radius: 50px;
    padding-left: 15px;
    outline: none;
}

.search-button {
    width: 30px;
    height: 30px;
    background-color: #ebebeb;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

/* ICONS */

.header-icons {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 20px;
}

.icon-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 30px;
}

