* {
    font-family: 'Hind Vadodara', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}

a {
    text-decoration: none;
}

a:hover,
a i:hover {
    color: #C70039;
}

/* INFO PROMO */

.info-promo {
    background-color: #666;
    text-align: center;
}

/* HEADER */

.header {
    height: 100px;
    width: 100%;
}

.header-nav {
    display: flex;
    height: 100px;
    width: 100%;
}

/* LOGO */

.header-logo {
    height: 100%;
    width: 205px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV */

.header-nav-items {
    width: 700px;
    display: flex;
    margin: 20px 200px 20px 300px;
}

.header-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    width: 100%;
}

.li-item {
    font-weight: bold;
}

/* SEARCHBAR */

.header-searchbar {
    width: 350px;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

.searchbar {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #ebebeb;
    border-radius: 50px;
}

.input-searchbar {
    width: 250px;
    height: 30px;
    background-color: #ebebeb;
    border: 0;
    border-radius: 50px;
    padding-left: 15px;
    outline: none;
}

.search-button {
    width: 30px;
    height: 30px;
    background-color: #ebebeb;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

/* ICONS */

.header-icons {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 20px;
}

.icon-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 30px;
}

/* FORM REGISTER CSS  */

.form-h1 {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.form {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 50%;
    background-color: #D9D9D9;
    border: 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 80%;
    /* margin: 50px; */
    text-align: center;
}

.fields {
    text-align: center;
    margin: 25px;
}

.label {
    display: none;
}

.user-field,
.pass-field {
    width: 70%;
    margin: 35px;
    padding: 5px 0px 5px 20px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px #000;
    outline: none;
    font-size: 20px;
}


.config-field {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.login-button-div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.login-button {
    height: 50px;
    width: 65%;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
}

.login-button:hover,
.register-button:hover {
    color: #000;
    background-color: #C70039;
    transition: .3s;
}

.iniciar-con {
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}

.iniciar-con-item {
    margin: 0px 20px 0px 20px;
}

.redir-cc {
    margin-top: 50px;
}

.redir-crear-cuenta {
    font-weight: bold;
}

/* FOOTER */

.footer {
    width: 100%;
    height: auto;
    background-color: #333;
    text-align: center;
    padding: 30px 30px 8px 30px;
}

.footer-nav-items {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    width: 60%;
}

.footer-list-item {
    color: #fff;
    font-size: 20px;
}

.copyright {
    color: #fff;
    font-size: 15px;
    margin: 10px 0px;
}

.footer-icons {
    font-size: 50px;
    margin: 20px;
}

.icon-footer {
    margin: 0px 25px 0px 25px;
}

.footer-ul li {
    color: #fff;
    font-size: 20px;
    cursor: default;
}

.img-producto {
    width: 255px;
    height: 255px;

}

.caja-grande {
    margin: 25px 50px;
}

.caja-chica-productos {
    display: flex;
    justify-content: space-around;
}

.caja-chica-producto {
    display: inline-block;
    padding: 10px;
}

.spacing {
    display: flex;
    justify-content: space-evenly;
}

.titulares {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.titular-secundario {
    display: flex;
    justify-content: flex-end;
}

.home-banner {
    width: 100%;
}

.modelos {
    width: 400px;
    height: 380px;
}

.caja-chica-modelos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.modelos-por-separado {
    display: flex;
    align-items: center;
    justify-content: center;

}

.mujer {
    background-image: url("/public/assets/img/MUJER.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.centrado-texto {
    justify-content: center;
    align-items: center;
    display: flexbox;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.hombre {
    background-image: url("/public/assets/img/HOMBRE.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.descripcion-producto {
    font-weight: bold;
}

.ninos {
    background-image: url("/public/assets/img/ninos.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.info-precio {
    background-color: white;
    width: 60px;
    position: relative;
    bottom: 30px;

}

.descripcion-producto {
    position: relative;
    bottom: 30px;
}

.categoria-producto {
    position: relative;
    bottom: 35px;
}

/* FOOT BANNER */

.foot-banner {
    width: 100%;
    height: 150px;
    background-color: #777;
}

.foot-banner-titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.foot-banner-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-banner-li {
    list-style: none;
    cursor: pointer;
}

.foot-banner-img {
    /* display: flex; */
}

.foot-banner-arrow {
    font-size: 30px;
}

/* FORM REGISTER */

.register-promo {
    text-align: center;
    background-color: #999;
    height: 50px;
    font-size: 30px;
    padding-top: 2px;
    margin: 30px 0px;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.form-register {
    width: 60%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fieldset {
    text-align: center;
    height: 90%;
    width: 50%;
}

.form-title {
    margin: 40px 40px 25px 40px;
    font-size: 30px;
}

.field {
    width: 70%;
    margin: 25px;
    padding: 5px 0px 5px 20px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px #000;
    outline: none;
    font-size: 20px;
}

.register-button-div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 30px 40px;
}

.register-button {
    height: 50px;
    width: 75%;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
}