body{
    background-color: #FFF;
}

*{
    font-family: 'Hind Vadodara', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.img-producto{
    width: 255px;
    height: 255px;
    
}

.caja-grande{
    margin: 25px 50px;
}

.caja-chica-productos{
    display: flex;
    justify-content: space-around;
}

.caja-chica-producto{
    display: inline-block;
    padding: 10px;
}

.spacing{
    display: flex;
    justify-content: space-evenly;
}



.titulares{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.titular-secundario{
    display: flex;
    justify-content: flex-end;
}

.home-banner{
    width: 100%;
}

.modelos{
    width: 400px;
    height: 380px;
}

.caja-chica-modelos{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.modelos-por-separado{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mujer{
    background-image: url("/tp.sitio.e-commerce/public/assets/img/MUJER.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.centrado-texto{
    justify-content: center;
    align-items: center;
    display: flexbox;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

.hombre{
    background-image: url("/tp.sitio.e-commerce/public/assets/img/HOMBRE.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.descripcion-producto{
    font-weight: bold;
}

.ninos{
    background-image: url("/tp.sitio.e-commerce/public/assets/img/ninos.png");
    height: 300px;
    width: 350px;
    background-size: cover;
}

.info-precio{
    background-color: white;
    width: 60px;
    position: relative;
    bottom: 30px;
    
}

.descripcion-producto{
    position: relative;
    bottom: 30px;
}

.categoria-producto{
    position: relative;
    bottom: 35px;
}