<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b9fc4b5630.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/tp.sitio.e-commerce/public/assets/css/stylesheet.css">
    <title>Carrito</title>
</head>



<body class="body">
    <!-- HEADER -->
    <header class="header">
        <nav class="header-nav">
            <!-- LOGO -->
            <div class="header-logo">
                <a href=""><img src="/tp.sitio.e-commerce/public/assets/img/H&M-Logo.png" alt="G&X-logo"></a>
            </div>
            <!-- NAV -->
            <div class="header-nav-items">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href=""> NUEVO 🔥 </a>
                    </li>
                    <li class="li-item">
                        <a href=""> HOMBRE </a>
                    </li>
                    <li class="li-item">
                        <a href=""> MUJER </a>
                    </li>
                    <li class="li-item">
                        <a href=""> NIÑO </a>
                    </li>
                    <li class="li-item">
                        <a href=""> DEPORTE </a>
                    </li>
                    <li class="li-item">
                        <a href=""> MARCA </a>
                    </li>
                </ul>
            </div>
            <!-- SEARCHBAR -->
            <div class="header-searchbar">
                <form action="" method="" class="searchbar">
                    <input type="text" placeholder="Buscar" class="input-searchbar">
                    <button class="search-button"> <i class="fa fa-search"></i> </button>
                </form>
            </div>
            <!--  HEADER ICONOS -->
            <div class="header-icons">
                <a href=""><i class="fa-regular fa-user icon-header"></i></a>
                <a href=""><i class="fa-regular fa-heart icon-header"></i></a>
                <a href=""><i class="fa-solid fa-basket-shopping icon-header"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <!--SECTIONS-->
        <section class="caja-grande2">
            <!--TU CARRITO-->
            <section class="subcaja-1">
                <div class="subcaja-1-titulo">
                    <h2>TU CARRITO</h2>
                    <p>TOTAL</p>
                </div>
            </section>
            <section class="subcaja-2">
                <div class="subcaja-2-1">
                    <img src="" alt="img-producto-1" class="img-producto">
                </div>
                <div class="subcaja-2-2">
                    <div class="descripcion-producto-carrito">DESCRIPCION PRODUCTO</div>
                    <div class="precio-producto-carrito">PRECIO</div>
                    <div class="talle-producto-carrito">TALLE PRODUCTO:TALLE</div>
                </div>
                <div class="subcaja-2-3">
                    <select name="" id="" class="cantidades">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                    </select>
                </div>
            </section>
            <section class="subcaja-3">
                <div class="subcaja-3-1">
                    <img src="" alt="img-producto-1" class="img-producto">
                </div>
                <div class="subcaja-3-2">
                    <div class="descripcion-producto-carrito">DESCRIPCION PRODUCTO</div>
                    <div class="precio-producto-carrito">PRECIO</div>
                    <div class="talle-producto-carrito">TALLE PRODUCTO:TALLE</div>
                </div>
                <div class="subcaja-3-3">
                    <select name="" id="" class="cantidades">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                    </select>
                </div>
            </section>
            <section class="subcaja-4">
                <div class="subcaja-4-1">
                    <img src="" alt="img-producto-1" class="img-producto">
                </div>
                <div class="subcaja-4-2">
                    <div class="descripcion-producto-carrito">DESCRIPCION PRODUCTO</div>
                    <div class="precio-producto-carrito">PRECIO</div>
                    <div class="talle-producto-carrito">TALLE PRODUCTO:TALLE</div>
                </div>
                <div class="subcaja-4-3">
                    <select name="" id="" class="cantidades">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                    </select>
                </div>
            </section>
            <section class="subcaja-5-boton">
                <button class="boton">IR A PAGAR <i class="fa-solid fa-arrow-right-long"></i></button>
            </section>
            <section class="subcaja-5-boton">
                <button class="boton">IR A PAGAR <i class="fa-solid fa-arrow-right-long"></i></button>
            </section>
            <section class="subcaja-6">
                <div class="titulo-pedido">
                    <h3>RESUMEN DEL PEDIDO</h3>
                </div>
                <div class="cantidad-productos">X PRODUCTOS</div>
                <div class="cantidad-productos-precio">PRECIO</div>
                <div class="entrega">ENTREGA</div>
                <div class="entrega-precio">PRECIO</div>
                <div class="total">TOTAL</div>
                <div class="total-precio">PRECIO</div>
            </section>
            <section class="subcaja-7">
                <label for="cupon-promocional"></label>
                <input type="text" name="cupon-promocional" id="cupon-promocional"
                    placeholder="Introduce tu código promocional">
            </section>
            <section class="subacaja-8">
                <div class="titulo-opciones-pago">
                    <h4>OPCIONES DE PAGO</h4>
                </div>
                <div class="imagenes-opciones-pago">
                    <img src="/tp.sitio.e-commerce/public/assets/img/Opciones-pago.jpg" alt="opciones-pago"
                        class="opciones-pago">
                </div>
            </section>
            <!--RECOMENDACIONES-->
            <section class="subcaja-9 caja-chica">
                <div class="recomendaciones-titulo caja-chica-titulo">
                    <h2 class="titulares">PRODUCTOS RECOMENDADOS</h2>
                    <a href="" class="titular-secundario">Ver Todos</a>
                </div>
                <div class="recomendaciones-productos caja-chica-productos">
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/Boca-titular.png"
                                alt="producto-1-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$16.999</div>
                            <div class="descripcion-producto">Camiseta titular oficial Boca Juniors</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/River-titular.png"
                                alt="producto-2-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$16.999</div>
                            <div class="descripcion-producto">Camiseta titular oficial River Plate</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/buzo-ninos.png" alt="producto-3-seccion-3"
                                class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$9.999</div>
                            <div class="descripcion-producto">Buzo estampado algodón orgánico</div>
                            <div class="categoria-producto">Niño Originals</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/zapatillas-ozweego.png"
                                alt="producto-4-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$35.999</div>
                            <div class="descripcion-producto">Zapatillas Ozweego</div>
                            <div class="categoria-producto">Originals</div>
                        </div>
                    </div>
                    <div class="productos-por-separado">
                        <div>
                            <img src="/tp.sitio.e-commerce/public/assets/img/camiseta-barcelona.png"
                                alt="producto-5-seccion-3" class="img-producto">
                        </div>
                        <div>
                            <div class="info-precio">$10.999</div>
                            <div class="descripcion-producto">Camiseta titular oficial FC Barcelona</div>
                            <div class="categoria-producto">Hombre Futbol</div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>

</html>