<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b9fc4b5630.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <title>Carrito</title>
</head>



<body>

    <div class="info-promo">
        <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A
        $20.000
    </div>

    <!-- HEADER -->
    <header class="header">
        <nav class="header-nav">
            <!-- LOGO -->
            <div class="header-logo">
                <a href="/"><img src="/assets/img/H&M-Logo.png" alt="G&X-logo" /></a>
            </div>
            <!-- NAV -->

            <div class="header-nav-items fulled-menu">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href="/coming-soon"> NUEVO 🔥 </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> HOMBRE </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> MUJER </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> NIÑO </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> DEPORTE </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> MARCA </a>
                    </li>
                </ul>
            </div>

            <div class="header-nav-items collapsed-menu">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href="/coming-soon"> NUEVO 🔥 </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> CATEGORIAS </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> MARCA </a>
                    </li>
                </ul>
            </div>

            <div class="header-nav-items ham-menu">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href=""> <i class="fa-solid fa-bars fa-lg"></i> </a>
                    </li>
                </ul>
            </div>

            <div class="header-right">
                <!-- SEARCHBAR -->
                <div class="header-searchbar">
                    <form action="" method="" class="searchbar">
                        <input type="text" placeholder="Buscar" class="input-searchbar" />
                        <button class="search-button">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <!--  HEADER ICONOS -->
                <div class="header-icons">
                    <a href="/login"><i class="fa-regular fa-user icon-header"></i></a>
                    <a href=""><i class="fa-regular fa-heart icon-header"></i></a>
                    <a href="/carrito"><i class="fa-solid fa-basket-shopping icon-header"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!--SECTIONS-->
        <section class="caja-grande caja-grande2">
            <!--TU CARRITO-->
            <section class="subcaja-1">
                <div class="subcaja-1-titulo">
                    <h2>TU CARRITO</h2>
                    <p class="total">"PRECIO"</p>
                </div>
            </section>

            <!-- CARD -->
            <section class="product-detail-container shop-card-1">

                <img src="/assets/img/camiseta-titular-argentina.png" alt="img-producto-1" class="img-producto-carrito">
                <div class="detail-container">
                    <div class="product-details">

                        <div class="line-item">
                            <div class="descripcion-producto-carrito">CAMISETA TITULAR SELECCION ARGENTINA</div>
                            <div class="precio-producto-carrito">$ 17.000</div>
                        </div>

                        <div class="talle-producto-carrito">TAMAÑO:M </div>
                    </div>

                    <div class="cantidad-container">
                        <select name="" id="" class="cantidades">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </div>
                </div>
            </section>
            <!-- CARD -->
            <section class="product-detail-container shop-card-2">

                <img src="/assets/img/adidas-botas-futbol-x-speedportal.1-fg.jpg" alt="img-producto-1"
                    class="img-producto-carrito">
                <div class="detail-container">
                    <div class="product-details">

                        <div class="line-item">
                            <div class="descripcion-producto-carrito">X SPEEDPORTAL.1 FG</div>
                            <div class="precio-producto-carrito">$ 62.999</div>
                        </div>

                        <div class="talle-producto-carrito">TAMAÑO:44 (UK 11) </div>
                    </div>

                    <div class="cantidad-container">
                        <select name="" id="" class="cantidades">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </div>
                </div>
            </section>
            <!-- CARD -->
            <section class="product-detail-container shop-card-3">

                <img src="/assets/img/River-titular.png" alt="img-producto-1" class="img-producto-carrito">
                <div class="detail-container">
                    <div class="product-details">

                        <div class="line-item">
                            <div class="descripcion-producto-carrito">CAMISETA TITULAR RIVER PLATE</div>
                            <div class="precio-producto-carrito">$ 16.999</div>
                        </div>

                        <div class="talle-producto-carrito">TAMAÑO:M </div>
                    </div>

                    <div class="cantidad-container">
                        <select name="" id="" class="cantidades">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </div>
                </div>
            </section>

            <section class="subcaja-5-boton">
                <button class="boton1">IR A PAGAR <i class="fa-solid fa-arrow-right-long"></i></button>
            </section>

            <section class="subcaja-6-boton">
                <button class="boton1">IR A PAGAR <i class="fa-solid fa-arrow-right-long"></i></button>
            </section>

            <section class="resumen-container">
                <div class="resumen-titulo">
                    <h3>RESUMEN DEL PEDIDO</h3>
                </div>

                <div class="resumen-item">
                    <p> "PRODUCTO" </p>
                    <p> $ "PRECIO" </p>
                </div>
                <div class="resumen-item">
                    <p> "ENTREGA" </p>
                    <p> $ "PRECIO" </p>
                </div>
                <div class="resumen-item">
                    <span class="resumen-total">
                        <p> TOTAL </p>
                        <p> $ "PRECIO" </p>
                    </span>
                </div>
            </section>

            <div class="container-cupon-pago">
                <section class="cupon-container">
                    <label for="cupon-promocional"></label>
                    <input type="text" name="cupon-promocional" id="cupon-promocional" class="cupon-input"
                        placeholder="INTRODUCE TU CODIGO PROMOCIONAL">
                </section>

                <section class="opciones-pago-container">
                    <div class="titulo-opciones-pago">
                        <h4> OPCIONES DE PAGO </h4>
                    </div>
                    <div class="imagenes-opciones-pago">
                        <img src="/assets/img/medio-de-pago.jpg" alt="opciones-pago" class="pd-img">
                    </div>
                </section>
            </div>
        </section>

        <!--PRODUCTOS DESTACADOS-->
        <section class="caja-chica">
            <div class="caja-chica-titulo">
                <h2 class="titulares">PRODUCTOS DESTACADOS</h2>
                <a href="" class="titular-secundario">Ver Todos</a>
            </div>
            <div class="caja-chica-destacados">
                <div class="product-card">
                    <a href="/producto">
                        <div>
                            <img class="product-image" src="/assets/img/Boca-titular.png" alt="producto-1-seccion-3"
                                class="img-producto">
                            <p class="info-precio">$16.999</p>
                        </div>
                        <div class="product-data-container">
                            <p class="descripcion-producto">Camiseta titular oficial Boca Juniors</p>
                            <p class="categoria-producto">Hombre Futbol</p>
                        </div>
                    </a>
                </div>
                <div class="product-card">
                    <a href="/producto">
                        <div>
                            <img class="product-image" src="/assets/img/River-titular.png" alt="producto-2-seccion-3"
                                class="img-producto">
                            <p class="info-precio">$16.999</p>
                        </div>
                        <div class="product-data-container">
                            <p class="descripcion-producto">Camiseta titular oficial River Plate</p>
                            <p class="categoria-producto">Hombre Futbol</p>
                        </div>
                    </a>
                </div>
                <div class="product-card">
                    <a href="/producto">
                        <div>
                            <img class="product-image" src="/assets/img/buzo-ninos.png" alt="producto-3-seccion-3"
                                class="img-producto">
                            <p class="info-precio">$9.999</p>
                        </div>
                        <div class="product-data-container">
                            <p class="descripcion-producto">Buzo estampado algodón orgánico</p>
                            <p class="categoria-producto">Niño Originals</p>
                        </div>
                    </a>
                </div>
                <div class="product-card">
                    <a href="/producto">
                        <div>
                            <img class="product-image" src="/assets/img/zapatillas-ozweego.png"
                                alt="producto-4-seccion-3" class="img-producto">
                            <p class="info-precio">$35.999</p>
                        </div>
                        <div class="product-data-container">
                            <p class="descripcion-producto">Zapatillas Ozweego</p>
                            <p class="categoria-producto">Originals</p>
                        </div>
                    </a>
                </div>
                <div class="product-card">
                    <a href="/producto">
                        <div>
                            <img class="product-image" src="/assets/img/zapatillas-ozweego.png"
                                alt="producto-4-seccion-3" class="img-producto">
                            <p class="info-precio">$35.999</p>
                        </div>
                        <div class="product-data-container">
                            <p class="descripcion-producto">Zapatillas Ozweego</p>
                            <p class="categoria-producto">Originals</p>
                        </div>
                    </a>
                </div>
                <div class="product-card">
                    <a href="/producto">
                        <div>
                            <img class="product-image" src="/assets/img/camiseta-barcelona.png"
                                alt="producto-5-seccion-3" class="img-producto">
                            <p class="info-precio">$10.999</p>
                        </div>
                        <div class="product-data-container">
                            <p class="descripcion-producto">Camiseta titular oficial FC Barcelona</p>
                            <p class="categoria-producto">Hombre Futbol</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- FOOT BANNER -->
        <section class="foot-banner">
            <div class="foot-banner-titulo"> Buscalo por Marca </div>
            <ul class="foot-banner-ul">
                <li class="foot-banner-li foot-banner-arrow"> <i class="fa-solid fa-angle-left"></i> </li>
                <li class="foot-banner-li"> <img
                        src="https://jfsarg.vtexassets.com/assets/vtex.file-manager-graphql/images/63a14d68-2a5a-4d20-8816-843844961c21___ec4abc00da5168edbe2bdeee34453aba.png"
                        alt="adidas-logo" class="foot-banner-img"> </li>
                <li class="foot-banner-li"> <img
                        src="https://jfsarg.vtexassets.com/assets/vtex/assets-builder/jfsarg.just-for-sport/0.3.7/imgs/brand-crocs___371f92922d88c2726881743173cc3371.png"
                        alt="crocs-logo" class="foot-banner-img"> </li>
                <li class="foot-banner-li"> <img
                        src="https://jfsarg.vtexassets.com/assets/vtex/assets-builder/jfsarg.just-for-sport/0.3.7/imgs/brand-kappa-sport___923c95ea20266eb6c4c2a3d109841b36.png"
                        alt="kappa-logo" class="foot-banner-img"> </li>
                <li class="foot-banner-li"> <img
                        src="https://jfsarg.vtexassets.com/assets/vtex/assets-builder/jfsarg.just-for-sport/0.3.7/imgs/brand-puma___7519207bd68a7897d4efbb9bef22a5a1.png"
                        alt="puma-logo" class="foot-banner-img"> </li>
                <li class="foot-banner-li"> <img
                        src="https://jfsarg.vtexassets.com/assets/vtex/assets-builder/jfsarg.just-for-sport/0.3.7/imgs/brand-reebok___9ff84ff587f3ca6e4f4c85f102bf0eea.png"
                        alt="reebok-logo" class="foot-banner-img"> </li>
                <li class="foot-banner-li foot-banner-arrow"> <i class="fa-solid fa-angle-right"></i> </li>
            </ul>
        </section>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <nav class="footer-nav">
                <div class="footer-nav-items">
                    <ul class="footer-ul">
                        <li>
                            <a href="" class="footer-list-item"> Aviso de privacidad </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="" class="footer-list-item"> Terminos y condiciones </a>
                        </li>
                        <li>|</li>
                        <li><a href="" class="footer-list-item"> Nuestros datos </a></li>
                    </ul>
                </div>
                <div class="copyright">© 2022 G&X Argentina</div>
                <div class="footer-icons">
                    <a href=""><i class="fa-brands fa-facebook icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-square-twitter icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-google icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-instagram icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok icon-footer"></i></a>
                </div>
            </nav>
        </div>
    </footer>
</body>

</html>