<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b9fc4b5630.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/stylesheet.css">

    <title> G&X </title>
</head>

<body>
    <div class="info-promo"> <i class="fa-solid fa-truck"></i> ENVIOS SIN COSTO EN COMPRAS SUPERIORES A $20.000 </div>
    <!-- HEADER -->
    <header class="header">
        <nav class="header-nav">
            <!-- LOGO -->
            <div class="header-logo">
                <a href="/"><img src="/assets/img/H&M-Logo.png" alt="G&X-logo"></a>
            </div>
            <!-- NAV -->

            <div class="header-nav-items fulled-menu">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href="/coming-soon"> NUEVO 🔥 </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> HOMBRE </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> MUJER </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> NIÑO </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> DEPORTE </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> MARCA </a>
                    </li>
                </ul>
            </div>

            <div class="header-nav-items collapsed-menu">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href="/coming-soon"> NUEVO 🔥 </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> CATEGORIAS </a>
                    </li>
                    <li class="li-item">
                        <a href="/coming-soon"> MARCA </a>
                    </li>
                </ul>
            </div>

            <div class="header-nav-items ham-menu">
                <ul class="header-ul">
                    <li class="li-item">
                        <a href=""> <i class="fa-solid fa-bars "></i> </a>
                    </li>
                </ul>
            </div>


            <div class="header-right">
                <!-- SEARCHBAR -->
                <div class="header-searchbar">
                    <form action="" method="" class="searchbar">
                        <input type="text" placeholder="Buscar" class="input-searchbar">
                        <button class="search-button"> <i class="fa fa-search"></i> </button>
                    </form>
                </div>
                <!--  HEADER ICONOS -->
                <div class="header-icons">
                    <a href="/login"><i class="fa-regular fa-user icon-header"></i></a>
                    <a href=""><i class="fa-regular fa-heart icon-header"></i></a>
                    <a href="/carrito"><i class="fa-solid fa-basket-shopping icon-header"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="coming-soon">
            <img src="/assets/img/coming-soon.jpeg" alt="" width="500px" height="500px">
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <nav class="footer-nav">
                <div class="footer-nav-items">
                    <ul class="footer-ul">
                        <li>
                            <a href="" class="footer-list-item"> Aviso de privacidad </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="" class="footer-list-item"> Terminos y condiciones </a>
                        </li>
                        <li>|</li>
                        <li><a href="" class="footer-list-item"> Nuestros datos </a></li>
                    </ul>
                </div>
                <div class="copyright">© 2022 G&X Argentina</div>
                <div class="footer-icons">
                    <a href=""><i class="fa-brands fa-facebook icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-square-twitter icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-google icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-instagram icon-footer"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok icon-footer"></i></a>
                </div>
            </nav>
        </div>
    </footer>

</body>

</html>